@media (max-width: 720px) {
	body > #app > main > #content-wrapper {
		flex-direction: column;

		#app-search {
			width: 100% !important;
			height: 50%;
			text-align: center;
		}

		#app-results {
			width: 100% !important;
			height: 50%;
			text-align: center;

		}

	}
}
